@media screen and (max-width: 1540px){
	.wrapper {
	    padding-left: 50px;
	}
	h1 {
	    font-size: 90px;
	}
	.hi {
	   	padding-top: 135px;
	}
	p {
	    font-size: 22px;
	}
	.hi .text {
	    padding: 10px 35px 35px;
	}
	.hi .content{
		margin-bottom: 60px;
	}
	.hi .story_images {
	    padding: 50px 0px 0px;
	}
	.picture_block,
	.intro .picture_block,
	.why_me .picture_block{
	    width: 250px;
	    height: 420px;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 65px;
	}
	.intro .title {
	    min-height: 405px;
	}
	.intro .text {
	    padding: 40px 70px 35px 460px;
	}
	.contact .title {
	    padding: 70px 50px 90px;
	}
}
@media screen and (max-width: 1360px){
	h1 {
	    font-size: 75px;
	}	
	p {
	    font-size: 19px;
	}
	.pdf_doc {
	    font-size: 25px;
	}
	.hi .content {
	    margin-bottom: 40px;
	}
	.hi .empty_color {
	    height: 320px;
	}
	.hi .picture_block {
	    width: 40%;
	    height: 115%;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1{
	    font-size: 50px;
	}
	.intro .story_images {
	    min-height: 390px;
	}
	.intro .title {
	    min-height: 350px;
	}
}
@media screen and (max-width: 1200px){	
	.hi {
	    padding: 120px 130px 0px;
	}
	h1 {
	    font-size: 65px;
	}
	p {
	    font-size: 18px;
	}
	.hi .text {
		width: 75%;
	    padding: 0px 35px 35px;
	}
	.hi .title {
	    width: 25%;
	}
	.picture_block, 
	.intro .picture_block, 
	.why_me .picture_block {
	    width: 230px;
	    height: 340px;
	}
	.intro .picture_block.abs_2 {
	    top: 30%;
	}
	.intro .title {
	    min-height: 305px;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 45px;
	}
	.intro h1 {
	    left: 70px;
	}
	.intro .text {
	    padding: 30px 50px 30px 220px;
	}
	.why_me .text.down {
	    padding: 20px 40px;
	}
	.work {
	    margin-top: 75px;
	}
	.work .text {
	    padding: 15px 0px;
	}
	.work_block {
	    width: 100%;
	}
	.contact .story_images .hamered_block {
	    width: 380px;
	}
	.contact .title {
	    padding: 45px 50px 60px;
	}
	.contact .story_images {
	    margin-top: -112px;
	}
	.contact .text {
	    bottom: 5px;
	}
	.social h5 {
	    font-size: 25px;
	}
	.pdf_doc:hover::after, 
	.box_showcase .decsription ul.classic_link li a:hover::after {
	    height: 25px;
	}
	.hi .title a[aria-label]:hover:after {
	    right: 0;
	    top: -40px;
	    font-size: 18px;
	    transform: translate(0px, 0px);
	}
}
@media screen and (max-width: 992px){	
	.hi .empty_color {
	    height: 275px;
	}
	.header_wrapper {
	    padding: 5px 15px;
	}
	.hi {
	    padding: 110px 70px 0px;
	}
	.pdf_doc {
	    font-size: 20px;
	}
	.pdf_doc:hover::after, 
	.box_showcase .decsription ul.classic_link li a:hover::after,
	.box_showcase .decsription ul li a:hover::after {
	    height: 21px;
	}
	.hi .picture_block {
	    width: 45%;
	    height: 110%;
	}
	.picture_block, .intro .picture_block, 
	.why_me .picture_block {
	    width: 165px;
	    height: 270px;
	}
	.intro .story_images {
	    min-height: 240px;
	}
	.intro h1, .why_me h1, .contact h1 {
	    font-size: 35px;
	}
	.intro .title {
	    min-height: 220px;
	}
	.intro .text {
	    padding: 30px 50px 30px 175px;
	}
	p {
	    font-size: 15px;
	}
	.why_me .text.down {
	    width: 70%;
	}
	.work .content {
	    width: 95%;
	}
	.work {
	    margin-top: 40px;
	    padding: 0px 0px 35px 75px;
	}
	.box_showcase .img_holder {
	    width: 60%;
	    height: 220px;
	}
	.box_showcase .decsription {
	    padding: 75px 30px 30px;
	    width: 65%;
	    right: 15%;
	    height: 310px;
	    top: 185px;
	}
	.owl-carousel .owl-stage-outer{
		min-height: 500px;
	}
	.box_showcase .decsription ul li a {
	    font-size: 16px;
	    height: 20px;
	    margin-bottom: 5px;
	    z-index: 1;
	    display: inline-block;
	    text-decoration: none;
	}
	.box_showcase .decsription ul li a p{
		display: none;
	}
	.box_showcase .decsription ul li a span{
		position: relative;
		padding: 0px;
	}
	.box_showcase .decsription ul li a:hover span{
		opacity: 1;
	}
	.box_showcase .decsription p,
	.box_showcase .decsription ul.classic_link li a {
	    font-size: 16px;
	}
	.box_showcase .decsription ul li a::after {
	    content: ' ';
	    display: block;
	    position: absolute;
	    height: 8px;
	    width: 104%;
	    background: rgb(202, 232, 223);
	    right: -2%;
	    bottom: 3px;
	    z-index: -1;
	    transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
	    -webkit-transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
	    -moz-transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
	}
	.box_showcase .decsription ul.classic_link li a{
		padding: 0px;
	}
	#carousel_work .owl-nav {
	    left: 75%;
	}
	.work {
	    padding: 0px 0px 0px 75px;
	}
	h1 {
	    font-size: 45px;
	}
	.contact .title {
	    padding: 30px 20px 45px;
	}
	.contact .story_images .hamered_block {
	    width: 260px;
	}
	.contact .story_images {
	    margin-top: -75px;
	}
	.contact .text {
	    width: 60%;
	}
	.contact .text {
	    top: 165px;
	    bottom: auto;
	}
	.social h5 {
	    font-size: 20px;
	}
	#return-to-top img {
	    width: 90%;
	}
	.wrapper {
	    padding-left: 0px;
	}
	.work_block {
	    z-index: 5;
	}
}
@media screen and (max-width: 767px){
	.logo a {
	    width: 50px;
	    height: 50px;
	}
	.logo{
		width: 75px;
	}
	.menu ul li a{
		font-size: 16px;
	}
	.hi {
	    padding: 80px 70px 0px;
	}
	h1 {
	    font-size: 40px;
	}
	.hi .text {
	    width: 75%;
	    padding: 0px 15px 15px;
	}
	p {
	    font-size: 14px;
	    line-height: 1.5;
	}
	.pdf_doc {
	    font-size: 17px;
	}
	.pdf_doc:hover::after, 
	.box_showcase .decsription ul.classic_link li a:hover::after, 
	.box_showcase .decsription ul li a:hover::after {
	    height: 15px;
	}
	.hi .empty_color {
	    height: 160px;
	}
	.hi .picture_block {
	    width: 40%;
	}
	.hi .story_images {
	    padding: 35px 0px 0px;
	}
	.picture_block, 
	.intro .picture_block, 
	.why_me .picture_block {
	    width: 110px;
	    height: 180px;
	}
	.intro .story_images {
	    min-height: 160px;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 25px;
	}
	.intro .title {
	    min-height: 150px;
	}
	.intro .text {
	    padding: 30px 50px 15px 115px;
	}
	.why_me .title{
		padding: 30px 0px;
	}
	.why_me .content {
	    margin: 0px;
	}
	.work {
	    margin-top: 15px;
	}
	.work_block{
		padding: 0px;
	}
	.box_showcase .img_holder {
	    width: 55%;
	    height: 150px;
	}
	.box_showcase .decsription {
	    padding: 75px 30px 0px;
	    top: 130px;
	    height: 300px;
	}
	.owl-carousel .owl-stage-outer {
	    min-height: 435px;
	}
	.box_showcase .decsription ul li a,
	.box_showcase .decsription p, 
	.box_showcase .decsription ul.classic_link li a {
	    font-size: 14px;
	}
	.contact .story_images .hamered_block {
	    width: 200px;
	}
	.contact .story_images {
	    margin-top: -60px;
	}
	.wrapper{
	    padding-bottom: 15px;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 20px;
	}
	.contact .title {
	    padding: 20px 20px 30px;
	}
	.contact .text {
	    top: 130px;
	}
	.social h5 {
	    font-size: 18px;
	}
	.social ul li a {
	    font-size: 20px;
	}
	header.innactive .menu.show {
	    width: auto;
	}	
	header.innactive .menu.show ul{
		background-color: #5555;
	}
	.menu ul {
	 	padding: 20px 5px;
	}
	.menu{
		padding: 0px;
	}
	#preloader div {
	    width: 95%;
	}
	#preloader div img{
		max-width: 100%;
	}
}
@media screen and (max-width: 600px){

	.logo a {
	    width: 35px;
	    height: 35px;
	}
	.logo {
	    width: 50px;
	}
	.menu ul li {
	    padding: 0px 10px;
	}
	.menu {
	    width: calc(100% - 50px);
	}
	.menu ul li a {
	    font-size: 14px;
	}
	.menu ul {
	    padding: 10px 5px;
	}
	.hi .title a[aria-label]:hover:after {
	    font-size: 15px;
	}
	h1 {
	    font-size: 35px;
	}
	.hi .title a {
	    position: absolute;
	    top: 45%;
	    transform: translate(0px, -55%);
	}
	.hi {
	    padding: 60px 15px 0px 55px;
	}
	.pdf_doc {
	    font-size: 16px;
	}
	.hi .content {
	    margin-bottom: 0px;
	}
	.hi .story_images {
	    margin: 15px auto 30px;
	}
	.intro .story_images {
	    min-height: 145px;
	    padding: 0px;
	}
	.intro .picture_block.abs_1 {
	    left: 55px;
	}
	.intro .picture_block.abs_3 {
	    right: 15px;
	}
	.intro .picture_block.abs_2 {
	    left: 43%;
	}
	.intro .title_back {
	    width: 60%;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 18px;
	}
	.intro .title {
	    min-height: 120px;
	}
	.intro .text {
	    padding: 40px 15px 15px 55px;
	}
	.why_me .title {
	    padding: 25px 0px;
	}
	.why_me .text.down {
	    width: 90%;
	    margin: 15px 15px 10px 55px;
	    padding: 20px 100px 20px 25px;
	}
	h1 {
	    font-size: 30px;
	}
	.work .title {
	    padding: 15px;
	    margin-bottom: 0px;
	}
	.work {
	    padding: 0px 0px 0px 55px;
	}
	.box_showcase {
	    padding: 5px 0px;
	}
	.box_showcase .img_holder {
	    width: 40%;
	    height: 100px;
	}
	.box_showcase .decsription {
	    padding: 35px 15px 0px 75px;
	    top: 30px;
	    height: 270px;
	    text-align: right;
	    width: 75%;
	    right: 15px;
	}
	.owl-carousel .owl-stage-outer {
	    min-height: 305px;
	}
	#carousel_work .owl-nav {
	    left: 55px;
	}
	.contact .story_images .hamered_block {
	    width: 150px;
	}
	.contact .story_images {
	    margin-top: -45px;
	}
	.contact .text {
	    width: 85%;
	}
	.social h5 {
	    font-size: 16px;
	}
	.social ul li a {
	    font-size: 16px;
	}
	#return-to-top img {
	    width: 75%;
	}
	.wow{
        animation-name: none !important;
        visibility: visible !important;
    }
}
@media screen and (max-width: 480px){
	.menu ul li {
	    padding: 0px 5px;
	}	
	.hi {
	    padding: 0px 15px 0px 15px;
	}
	.hi .title a {
	    position: relative;
	    top: auto;
	    transform: translate(0px, 0px);
	}
	.hi .title {
	    width: 100%;
	    position: relative;
	    text-align: center;
	    margin-bottom: 10px;
	}
	.hi .text {
	    width: 100%;
	}
	p {
	    font-size: 13px;
	    line-height: 1.5;
	}
	.hi .story_images {
	    padding: 25px 0px 0px;
	}
	.hi .empty_color {
	    height: 120px;
	}
	.hi .story_images {
	    margin: 0px auto 30px;
	}
	.picture_block, 
	.intro .picture_block {
	    width: 65px;
	    height: 100px;
	}
	.why_me .picture_block {
	    width: 80px;
	    height: 195px;
	    top: auto;
	    bottom: -100px;
	}
	.intro .picture_block.abs_2 {
	    left: 45%;
	}
	.intro .story_images {
	    min-height: 75px;
	}
	.intro h1 {
	    left: 55px;
	}
	.intro .text {
	    padding: 20px 15px 15px 15px;
	}
	.why_me .title{
		width: 70%;
	}
	.why_me .text.down {
	    width: auto;
	    margin: 15px;
	    padding: 15px 45px 15px 15px;
	}
	.work {
	    padding: 0px 15px;
	}
	.work .content {
	    width: 100%;
	    margin-top: 5px;
	}
	.box_showcase .img_holder {
	    width: 65%;
	    height: 80px;
	}
	.box_showcase .decsription {
		width: 85%;
	    padding: 70px 15px 0px 15px;
	    text-align: left;
	}
	.box_showcase .decsription ul li a,
	.box_showcase .decsription p, 
	.box_showcase .decsription ul.classic_link li a {
	    font-size: 13px;
	}
	#carousel_work .owl-nav {
	    left: auto;
	    right: -35px;
	    bottom: 35px;
	}
	.contact {
	    padding: 0px 15px 20px;
	    margin: 0px;
	}
	.intro h1, 
	.why_me h1, 
	.contact h1 {
	    font-size: 16px;
	}
	.contact .story_images .hamered_block {
	    width: 110px;
	}
	.contact .story_images {
	    margin-top: -30px;
	}
	.contact .text {
	    width: 100%;
	    position: relative;
	    top: auto;
	}
	.social h5 {
	    font-size: 14px;
	}
	#return-to-top{
		text-align: right;
	}
	header.innactive .menu {
	    padding: 45px 0px 0px;
	}
	.hi .title a[aria-label]:hover:after {
	    right: -15px;
	    top: 0px;
	}
	.header,
	.header_wrapper{
		height: 35px;
	}
	.hi .content {
	    z-index: 3;
	}
	.logo a {
	    background: #fff;
	}
	header.innactive .menu.show ul {
	    background-color: #555;
	}
	header.innactive .menu.show {
	    width: 100%;
	}
	header.innactive .menu.show ul li a {
	    color: #fff;
	}
	.menu ul li a:before, 
	.menu ul li a:after,
	.menu ul li a:hover:before {
	    background: #fff;
	}
	.box_showcase .decsription ul li a {
	    height: 16px;
	}
	.box_showcase .decsription ul li a::after{
		height: 5px;
	}
	.box_showcase .decsription ul.classic_link li a{
		margin-bottom: 0px;
	}
	header .menu ul li {
	    display: block;
	    margin-bottom: 10px;
	}
	header .menu {
	    width: 100%;
	    transform: translate(-100%,0);
	}
	.header_wrapper {
	    border-bottom: none;
	}
}