body {
	margin: 0;
	font-family: "FaroWeb-RegularLucky";
	text-rendering: optimizeLegibility;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
a{
	-webkit-tap-highlight-color: transparent;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/*==============FONTS=============================*/
@font-face {
	font-family: "FaroWeb-RegularLucky";
	src: url("../fonts/FaroWeb-RegularLucky.woff");
}
@font-face {
	font-family: "FaroWeb-DisplayLucky";
	src: url("../fonts/FaroWeb-DisplayLucky.woff");
}
@font-face {
	font-family: "FaroWeb-BoldLucky";
	src: url("../fonts/FaroWeb-BoldLucky.woff");
}
/*========================LOADER================*/
#preloader{
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100vh;
	background: #fff;
	top: 0;
    left: 0;
}
#preloader div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 50%;
	text-align: center;
}
#preloader div img{
	display: inline-block;
}
/*===================HEADER==========================*/
header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 6;
}
.header_wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #e0dbdb;
	padding: 15px;
}
.logo{
	width: 100px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.logo a{
	width: 60px;
	height: 60px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.logo a img{
	width: 100%;
	height: auto;
}
.menu{
	width: calc(100% - 100px);
	text-align: left;
	padding-top: 20px;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
}
.menu ul {
	list-style-type: none;
}
.menu ul li{
	display: inline-block;
	padding: 0px 15px;
}
.menu ul li a{
	font-family: "FaroWeb-RegularLucky";
	color: #404040;
	font-size: 18px;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.menu ul li a{
  position: relative;
  display: block;
  cursor: pointer;
}
.menu ul li a:before, 
.menu ul li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #232323;
}
.menu ul li a:before {
  left: -2.5px;
}
.menu ul li a:after {
  right: 2.5px;
  background: #232323;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu ul li a:hover:before {
  background: #232323;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu ul li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
header.innactive .logo {
	width: 100px;
	position: absolute;
	left: auto;
	top: auto;
	z-index: 4;
}
header.innactive .logo a:hover{
	-webkit-box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	-moz-box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	background-color: #ffe7d8;
}
header.innactive .header_wrapper{
	border-bottom: 1px solid transparent;
}
header.innactive .menu {
	/*    padding: 15px 20px 20px 100px;*/
	transform: translate(-100%,0);
	padding: 75px 0px 0px;
}
header.innactive .menu ul li{
	display: block;
	margin-bottom: 10px;
}
header.innactive .menu.show{
	transform: translate(0,0);
}
header.innactive .menu.show ul li a{
	display: inline-block;
}
/*================PAGE STYLE========*/
.wrapper{
	width: 100%;
	position: relative;
	overflow: hidden;
}
.content{
	display: flex;
	flex-wrap: wrap;
	margin: 35px 0px 0px;
}
.hi{
	width: 100%;
	max-width: 1440px;
	padding: 155px 200px 0px;
	margin: 0 auto;
	position: relative;
}
.hi .content{
	z-index: 7;
    position: relative;
}
h1{
	font-family: 'FaroWeb-DisplayLucky';
	font-size: 112px;
	color: #232323;
	text-transform: uppercase;
	line-height: 1;
}
h1 span{
	display: block;
	font-family: inherit;
}
p{
	font-family: "FaroWeb-RegularLucky";
	font-size: 24px;
	line-height: 32px;
	color: #232323;
}
.pdf_doc{
	font-family: "FaroWeb-BoldLucky";
	font-size: 25px;
	color: #232323;
	position: relative;
	letter-spacing: 2px;
	text-decoration: none;
}
.hi .title a{
	display: block;
	text-decoration: none;
	position: relative;
}
.hi .title a[aria-label]:hover:after {
    content: attr(aria-label);
    padding: 4px 8px;
    position: absolute;
    right: 0;
    top: 50%;
    white-space: nowrap;
    z-index: 20px;
    background: #daf3f0;
    font-size: 20px;
    color: #232323;
    letter-spacing: 2px;
    text-align: center;
    width: auto;
    padding: 10px;
    transform: translate(0px, -50%);
}
.pdf_doc::after,
.box_showcase .decsription ul.classic_link li a::after{
	content: ' ';
	display: block;
	position: absolute;
	height: 12px;
	width: 104%;
	background: rgb(202, 232, 223);
	right: -2%;
	bottom: 3px;
	z-index: -1;
	transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
	-webkit-transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
	-moz-transition: all 0.7s cubic-bezier(1, -0.18, 0, 1.29);
}
.pdf_doc:hover::after,
.box_showcase .decsription ul.classic_link li a:hover::after {
	height: 25px;
}
.hi .title{
	width: 30%;
}
.hi .text{
	width: 70%;
	padding: 30px 50px 50px;
}
.hi .story_images{
	max-width: 800px;
	margin: 35px auto;
	position: relative;
	padding: 50px 0px;
}
.hi .empty_color{
	z-index: 0;
	position: relative;
	background-color: #dde0ed;
	height: 400px;
}
.hi .picture_block{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.picture_block img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.intro .picture_block {
	width: 300px;
	height: 450px;
}
.intro{
	width: 100%;
	position: relative;
}
.intro h1,
.why_me h1,
.contact h1{
	font-size: 80px;
}
.intro .title{
	position: relative;
	width: 100%;
	min-height: 520px;
}
.intro .title_back {
	width: 45%;
	height: 100%;
	background-color: #deedee;
	z-index: 1;
	position: relative;
}
.intro h1 {
    position: absolute;
    top: 50%;
    left: 100px;
    z-index: 2;
    transform: translate(0, -50%);
}
.intro .text{
	width: 100%;
	padding: 40px 200px 50px 460px;
}
.intro .story_images{
	position: relative;
	padding: 50px 0px;
	min-height: 450px;
	max-width: 1440px;
	margin: 0 auto;
	z-index: 2;
}
.intro .picture_block.abs_1{
	position: absolute;
	left: 100px;
	top: 0;
	transform: translate(0, 0);
}
.intro .picture_block.abs_2{
	position: absolute;
	left: 40%;
	top: 50%;
	transform: translate(0, 0);
}
.intro .picture_block.abs_3{
	position: absolute;
	right: 100px;
	top: 100%;
	transform: translate(0px, 0);
}
.why_me{
	position: relative;
	width: 100%;
	text-align: right;
}
.why_me .content{
	max-width: 1440px;
	display: inline-block;
	text-align: right;
}
.why_me .title {
	background-image: url(../images/18.png);
	background-size: contain;
	width: 45%;
	text-align: left;
	padding: 35px 0px;
	background-position: right center;
	background-repeat: no-repeat;
	display: inline-block;
}
.why_me .title h1{
	display: inline-block;
}
.why_me .text.down {
	padding: 35px 100px;
	background: rgba(186, 178, 189, 0.6);
	width: 60%;
	margin: 35px 0px 35px 35px;
	display: block;
	text-align: left;
	position: relative;
}
.why_me .picture_block {
	position: absolute;
	right: 0;
	top: 70%;
	width: 300px;
	height: 450px;
	overflow: hidden;
}
.work {
	position: relative;
	margin-top: 100px;
	padding: 0px 0px 35px 100px;
}
.work .content{
	width: 80%;
}
.work .title {
	padding: 20px;
	background-color: #74b9b2;
	margin-bottom: 15px;
}
.work .text {
	padding: 25px 0px;
}
.work_block {
	width: 85%;
	float: right;
	padding: 35px 0px;
	z-index: 7;
	position: relative;
}
.box_showcase {
	position: relative;
	padding: 35px 0px;
}
.box_showcase .img_holder{
	width: 45%;
	background-color: #eab6b6;
	position: relative;
	height: 350px;
	background-image: url("../images/21.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	z-index: 2;
}
.box_showcase .img_holder span{
	display: inline-block;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
	font-family: "FaroWeb-BoldLucky";
}
.box_showcase .decsription{
	padding: 50px 30px 30px 100px;
	background-color: #f3f3f3;
	width: 55%;
	height: 650px;
	position: absolute;
	right: 5%;
	top: 0px;
}
#carousel_work .owl-nav{
	position: absolute;
	bottom: 50px;
	left: 55%;
	transform: translate(-55%, 0);
	width: 100px;
}
#carousel_work .owl-nav .owl-prev{
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #232323;
	padding: 5px 10px;
	color: #232323;
}
#carousel_work .owl-nav .owl-next{
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #232323;
	padding: 5px 10px;
	color: #232323;
}
.box_showcase .decsription p {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 10px;
}
.box_showcase .decsription ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}
.box_showcase .decsription ul li{
	width: 100%;
}
.box_showcase .decsription ul li a{
    position: relative;
    display: block;
    font-size: 20px;
    overflow: hidden;
    height: 40px;
    margin-bottom: 10px;
    color: #232323;
}
.box_showcase .decsription ul li a span{
    display: block;
    position: absolute;
    padding: 15px 10px;
    z-index: 2;
    color: #232323;
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.box_showcase .decsription ul li a p{
    position: absolute;
    bottom: -35px;
    background: #cae8df;
    padding: 10px 0px;
    font-size: 18px;
    margin-bottom: 0px;
    color: #232323;
    z-index: 1;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.box_showcase .decsription ul li a:hover span{
	opacity: 0;
	z-index: 1;
}
.box_showcase .decsription ul li a:hover p{
	bottom: 0px;
	z-index: 2;
	padding: 0px 10px;
}
.box_showcase .decsription ul.classic_link li a{
	font-size: 20px;
	color: #232323;
	position: relative;
	text-decoration: none;
	height: auto;
	z-index: 1;
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
}
.box_showcase .decsription ul.classic_link li a::after {
	height: 8px;
}

.contact {
	padding: 0px 50px 50px;
	position: relative;
	max-width: 1440px;
	margin: 0 auto 50px;
}
.contact .story_images {
	position: relative;
	width: 100%;
	margin-top: -165px;
	text-align: right;
}
.contact .story_images .hamered_block {
	width: 560px;
	height: auto;
	display: inline-block;
}
.contact .story_images .hamered_block img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.contact .text {
	width: 59%;
	position: absolute;
	bottom: 35px;
}
.contact .title {
	background-color: rgba(224,194,98,.3);
	padding: 35px 35px 130px;
	-webkit-box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	-moz-box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	box-shadow: 8px 4px 19px 0px rgba(168,157,148,0.58);
	width: 80%;
}
/*==================FOOTER STYLE================*/
footer{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #e0dbdb;
	padding: 15px;
	position: relative;
}
.social{
	width: 100%;
	text-align: center;
}
.social h5{
	font-family: "FaroWeb-BoldLucky";
	font-size: 30px;
	margin-bottom: 15px;
	color: #232323;
}
.social ul{
	list-style-type: none;
}
.social ul li{
	display: inline-block;
	padding: 0px 10px;
}
.social ul li a{
	color: #232323;
	font-size: 23px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.social ul li a:hover{
	color: #707e72;
}
#return-to-top {
	position: absolute;
	z-index: 2;
	bottom: 0px;
	right: 0px;
	width: 100px;
	height: auto;
	display: block;
	text-decoration: none;
	display: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
#return-to-top img{
	width: 100%;
}
